.section-a {
  margin-top: 50px;
}

.card {
  background-color: #f7f8f9;
  border: 1px solid #f1f2f5;
  .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-button {
      background-color: #000;
      color: #fff;
      padding: 10px 35px;
      border-radius: 3px;
      font-weight: 400;
    }
  }
}

.card-a .card-bottom {
  position: absolute;
  bottom: -43px;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  .btn-component {
    color: lightgray;
    &:hover {
      text-decoration: none;
    }
  }
  .btn-title {
    color: #000;
    font-size: large;
    font-weight: 700;
    &:hover {
      text-decoration: none;
      color: red;
    }
  }
}

.card-body button {
  border: none;
  &:focus {
    outline: none;
  }
}

.card-body a:hover {
  text-decoration: none;
}
